__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

.env
.env.*

# Pytest / test artifacts
.pytest_cache/

# IDE / Editor dirs
.vscode/
.idea/

# Git metadata
.git/
.gitignore

# Docker files (they live on host)
Dockerfile
docker-compose.yml

# Logs and databases
*.log
*.sqlite3

# Build artifacts
dist/
build/
*.egg-info/
